* {
	color: var(--primary);
	font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
	color: var(--secondary);
	font-family: serif;
}

h2 {
	/* We're adding a page break before all h2 headings */
	break-before: always;
}

p {
	font-size: var(--base-font-size);
	line-height: calc( var(--base-font-size) * 1.4);

}