/* We can set special styles for a specific page, for example tthe first page. */
@page:first {
  background-color: beige;

  * {
    text-align: center;
    }
  
  p {
    text-transform: uppercase
  }
}

/* We can style the first page with :first */

@page:first {
  background-color: beige;
  text-align: center;
}

/* Or via css selectors */
.pagedjs_first_page section {
    padding-top: 50%;
    height: 100%;
}

img {
  width: 100%;
}

.two-columns {
  column-count: 2;
  font-style: italic;
}
