
                            
                            
                            
.pagedjs_pagebox {
	background-color: var(--background);
}

.pagedjs_page_content {
	position: relative;
}




.pagedjs_margin-bottom-right .pagedjs_margin-content {
	border-right: 10pt solid;

	font-size: 8pt;
	font-family: "Open Sans", sans-serif;
	padding-right: 10pt;
}

.open-sans-regular {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
  }

  intro {
	display: block;
	position: relative;
  }


h2 {
	position: absolute;
	top: 0;
	left: 0;
  
	font-weight: 900;
	font-size: 56.5pt;
	letter-spacing: 4pt;
  
	margin: 0;
	line-height: 1;
  
	transform-origin: top left;
	transform: rotate(90deg) translateY(-100%);
}

section.info {
	break-before: avoid !important;
	width: 100%;
	position: absolute;
	right: 0 ;
	height: 100%;
	width: 66%;
padding-bottom: 0;
}

section.info p:first-of-type {
margin-top:0;
} 

section.info h2 {
	break-before: avoid;
	display: none;
}

section.info h3 {
	break-before: avoid;
display: none;

}

.info blockquote, .info blockquote p {
	border: none !important;
	text-transform: none !important;
	width: 100%;
}

.info blockquote {
	padding: 0 !important;
	margin: 0 !important;
	display: block;
	margin-bottom: 5mm !important;
}
.info blockquote p {
    /* 1. Force the P to act like a SPAN */
    display: inline; 
    
    /* 2. Apply background and color */
    background-color: var(--primary);
    color: var(--background);
    
	box-decoration-break: clone;
    
    /* 4. Fix Line Height */
    line-height: 1 !important; /* Needs extra height to prevent black bars from overlapping */

	margin: 0;
	padding: 1pt 1pt;
	padding-bottom: 1.5pt;

}

.info blockquote strong {
	font-family: 'ModuloBold' !important;
	letter-spacing: 0.5mm;
}

/* 5. Because P is now inline, we need to style the CONTAINER to align it */
.info {
    display: block;      /* Ensures the container is a block */
    margin-bottom: 1rem; /* Spacing between blocks */
   text-align: right !important;
}

  section.info p strong, section.info p em {
	background-color: var(--primary);

	color: var(--background) !important;
	text-transform: uppercase;
	font-weight: bold;
  } 

  /* Reminder h2 is used for the book section title, h3 for chapter tittles */
h3 + section * {
	font-family: "Helvetica Neue", sans-serif;
	font-family: "Modulo";
	font-family: "Forma";
	color: var(--primary)
	
}

h3 + section p {
	text-align: left;
	font-size: 9pt !important;

}

p strong {
	font-family: "Forma";
	text-transform: none;
	padding: 1pt 3pt;
	font-weight: normal;
}


strong, .conditions h4 {
	font-family: "Forma";
	font-size: 8pt;
	line-height: 1;
	display: inline;
	color: var(--background) !important;
	background-color: var(--primary);
	font-weight: normal;
	padding: 1pt 3pt !important;
	text-transform: uppercase;
	white-space: nowrap;
}

ol li strong {
	font-family: "ModuloBold" !important;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0;
	color: var(--primary) !important;
	background-color: var(--background);
}


section.info .conditions {
	position:absolute;
	bottom: 0;
}


.conditions p strong {
	font-family: 'ModuloUltra';
	position: absolute;
	right: 0;
	top: -10pt;
	text-transform: uppercase;
} 


.conditions p {
	text-transform: lowercase;
	font-size: 8pt;
	padding: 0;
	text-transform: uppercase;
}
 ol {
	padding: 0;
  list-style-position: inside;
  padding-top: 4mm;
}

 ol {
	width: 100%;
	list-style: none;
	counter-reset: item;
	margin: 0;
}
 ol li {
	font-size: 7.5pt;
	text-align: right !important;
	padding-bottom: 2mm;
	counter-increment: item;
	position: relative;
	padding-left: 5pt;
padding-top: 2mm;
padding: bottom: 2mm;
  text-wrap: pretty;

}

ol li:not(:last-child) {
	border-bottom: 1px solid var(--boders);
  }

ol li::before {
	content: counter(item);
	position: absolute;
	left: 0;
	font-weight: 900;
	background-color: var(--primary)
	color: var(--background);
	text-align: center;
	width: 3mm;
  }  
  


li {
	line-height: normal;
	margin-bottom: 0;
}


ol, ul, ol li, ul li, li {
	color: var(--primary);
}
p {
	font-family: "Forma" !important;
	font-size: 9pt;
	line-height: 12pt;
	
	text-wrap: pretty;
	text-justify: inter-word;
	text-align: left;
	hanging-punctuation: first last; /* check on mdn */

	word-spacing: -0.03em;
	-ms-hyphens:auto!important;
	-webkit-hyphens:auto!important;
	hyphens:auto!important;
	-moz-hyphenate-limit-chars:6 3 2;
	-webkit-hyphenate-limit-chars:6 3 2;
	-ms-hyphenate-limit-chars:6 3 2;
	hyphenate-limit-chars:6 3 2;
	-ms-hyphenate-limit-lines:2;
	-webkit-hyphenate-limit-lines:2;
	hyphenate-limit-lines:2;
	hyphenate-limit-last:always;
	-ms-hyphenate-limit-last:always;
	color: var(--primary)
}



ol, ul {
	break-inside: avoid;
    
    /* Legacy (needed for older browsers & some PDF generators) */
    page-break-inside: avoid;
}

beat {

	display: block;
		/* 
	column-count: 2;
	column-gap: 2rem;
	column-fill: auto;
	*/

}




h1, h2, h3 {
	margin: 0 !important;
	padding: 0 !important;
}

h2 {
	margin-bottom: 20pt !important;
}

h3 {
	margin-bottom: 16pt !important;

}

h3 {
	margin-bottom: 12pt !important;
	margin-top: 24pt !important;

}


blockquote {
	padding: 1mm !important;
	width: 58mm;
  
	float: right;
	margin-left: 2mm !important;   /* space between text and box */
	margin-top: 2mm !important;
	margin-bottom: 2mm !important;

	margin-right: -12mm;

	border: 0.5mm solid;
}

blockquote p {
	color: var(--primary);
	font-size: 14pt;
	line-height: 20pt;
	text-transform: uppercase;
	text-align: right;
	margin: 0 10mm;
}

section.npcs {
	display: block;
	column-count: 2;
	column-gap: 10mm;
	column-fill: auto;
	column-rule-style: solid;
	column-rule-width: 1mm;
	column-rule-color: var(--boders);
}

section.npcs h3 {
	break-after: avoid;
}

section.table {
	margin: auto;
	padding: 0 4mm;
	max-width: 90%;
}

.table ol li {
	text-align: left !important;
	padding-left: 10mm;
}

section.table {
	/*
	border-left: 0.5mm solid var(--primary);
	border-right: 0.5mm solid var(--primary);
	*/
}

:root {
}

.truth, .legend {

}

.legend h2, .truth h2 {
	font-size: 80pt;
	margin-bottom: 0 !important;
	padding-top: 0;
	
}

.truth h2 {
	position: relative;
	right: -8pt;
}

.legend h2 {
	position: relative;
	right: 8pt;
}

.legend h3, .truth h3 {
	column-span: all;
	margin-top: 0 !important;
	padding-top: 0;
	text-transform: none;
	font-weight: normal;
	font-size: 10pt;
}

.truth h2, .truth h3 {
	text-align: right;
}

.wrapper h4 {
	display: none;
}

.wrapper {
	position: absolute;
	top:50%;
}

.truth .wrapper {
}

.wrapper p:first-of-type {
	margin-top: 0;
	padding-top: 0;
}

.wrapper p {
	break-inside: avoid;
}

.pagedjs_margin-content, .pagedjs_margin-content * {
	color: var(--margins-text) !important;
}
                    
                    
                    
                    