 /*
 https://hnldesign.hashnode.dev/setting-a-flexible-baseline-grid-in-css
 */
img {
  padding-top: 16.5px;

} 





li::marker {
}


li:first-child {
    line-height: var(--baseline);
    font-size: 16px;
    padding-top: calc((var(--baseline) - 1ex) / 2);
}


blockquote {
    margin: 0;
    padding: 0;
}

blockquote p {
    line-height: calc( var(--baseline) * 2);
    font-size: 54px;
    margin: 0;
    padding: 0;
    padding-top: calc((60px - 1.1ex) / 2);
    margin-bottom: calc(60px - ((60px - 1.1ex) / 2));
}


/* Baseline display */
/*
.pagedjs_pagebox {
    --pagedjs-baseline: var(--baseline);
    --pagedjs-baseline-position: -4px;
    --pagedjs-baseline-color: cyan;
    background: linear-gradient(var(--color-paper) 0%, var(--color-paper) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
    background-size: 100% var(--pagedjs-baseline);
    background-repeat: repeat-y;
    background-position-y: var(--pagedjs-baseline-position);
} 
*/