:root {
  --main-content-width: 110mm;
  --sidebar-width: 49mm;
  --gap: 4mm;
}

content {
  display: block;
  position: relative;
  width: var(--main-content-width);
  /* margin-left: 49mm; */
}

content {
  position: relative;
}



content p {
  color: blue;
  font-size: 0.8rem;
  text-align: left !important;
}

note {
  position: absolute;
  top: 0;
  width: var(--sidebar-width);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin: 0;
}

note p {
  color: black;
  font-family: serif;
  margin: 0;
}

@page:left {
  
  content {
    left: var(--sidebar-width) !important;
  }

  note {left: calc(var(--sidebar-width) * -1);}
}

@page:right {
  note {right: calc(var(--sidebar-width) * -1);}

}
  .pagedjs_page_content {
    border:1px dotted grey;
}

css {
  display: block;
  font-size: 0.6rem !important;
  padding: 10mm;
  margin: 10mm;
  color: #EEE;
  background-color: #222;
}