#container {
    column-count: 2;
    column-gap: 10mm;
    column-rule-width: 100px;
    column-rule-style: solid;
    column-rule-color: #0000FFAA;
    column-fill:balance ;
}

p:first-of-type {
    text-align: start !important;
    color: blue;
}

h2 {
    /* column-span: all; */
    background-color: pink;
    color: black;
    padding: 0;
    margin: 10mm 0;
    border: none;
  }

img {
    min-width: 100%;
  }

  .pagedjs_page_content {
    border:1px dotted grey;
}