---
import Tab from "src/components/tab.astro"


---
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/prism.css'>
    
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/custom-prism-css.css'>
    <script is:inline>
        const BASE_PATH = '/data/';

        const CONFIG = [
            {type: 'css', name: 'css', data: ['css.css'] },
            {type: 'md', name: 'markdown', data: ['md.md'] } 
            
        ];
    </script>
</head>
<body>
    <main id="interface">
        <h1>PIXEL AND PAPER</h1>
        <nav id="nav">
            <h2 class="tab-selector" data-id="0">CSS</h2>
            <h2 class="tab-selector" data-id="1">MARKDOWN</h2>
            <h2 class="tab-selector" data-id="2">PDF</h2>
        </nav>




        <div id="tabs">
            {/* <Tab tabName="CSS" tabId="tab-css" tabClass="language-css" /> */}
            

     

        </div>
    </main>
    <script is:inline type="module">
        const loadMyFile = async (filePath) => {
        try {
            // Request the file from your local server
            const response = await fetch(filePath);
            
            // Convert the response to text
            const content = await response.text();
            
            return content;
        } catch (err) {
            console.error("Error reading file:", err);
        }
    }

    const myCss = await loadMyFile('/data/css.css');

    const PROMISES = CONFIG.map(async ({type, name, data}) => {
        
        const content = await loadMyFile(`${BASE_PATH}${data[0]}`);

        return ({type: type, name: name, data: content});
    })

    // DATA is an array of {type: 'type, for example css or md', data: 'string content'}
    const DATA = await Promise.all(PROMISES);

    const nav = document.getElementById("nav");

    DATA.forEach((d, index) => {
        nav.innerHTML += `<h2 class="tab-selector" data-id="${index}">
            ${d.name.toUpperCase()}
        </h2>`;
    });
    
    const TABS = `            <div class="tab active">
                <div class="tab-content">
                        <pre><code id="tab-css" contenteditable="true" class="language-css">

                    </code></pre>
                </div>
            </div>`;

    const tabs = document.getElementById('tabs');


    </script>
    <script is:inline type="module" src='/js/main.js'></script>
    <script is:inline src='/js/prism.js'></script>
    <script is: inline src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markdown.min.js"></script>
</body>
</html>