---
import Tab from "src/components/tab.astro";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="/styles/interface/main.css"
        />
        <script>
            import { createEditor } from '../js/createEditor';
            import { iframe } from '../js/iframe.js';
            import { initApp } from '../js/init.js';
            import { CONFIG } from '../js/config.js';
            import { updatePreview } from '../js/updatePreview.js';
            import { INTERFACE } from '../js/state.js'
            import { initKeyboardNavigation } from '../js/initKeyboardNavigation.js';

            import { markdown } from "@codemirror/lang-markdown";
            import { css } from "@codemirror/lang-css";

            // Tabs do not exist before creation, they should be returned on creation
            window.addEventListener('DOMContentLoaded', async () => {
                await initApp();
                initKeyboardNavigation();
                updatePreview();
 
            });


        </script>

        {
            /*
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/prism.css'>
    
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/custom-prism-css.css'>

*/
        }
    </head>
    <body id="body">
        <header>
            <h1>PIXEL AND PAPER</h1>
            <nav id="nav"></nav>
            
        </header>
        <main id="interface">
            

            <div id="tabs">
                {
                    /* <Tab tabName="CSS" tabId="tab-css" tabClass="language-css" /> */
                }
            </div>
        </main>
    </body>
</html>
