---
import Tab from "src/components/tab.astro"
---
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/prism.css'>
    
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/interface/custom-prism-css.css'>

</head>
<body>
    <main id="interface">
        <h1>PIXEL AND PAPER</h1>
        <div id="tabs">
            {/* <Tab tabName="CSS" tabId="tab-css" tabClass="language-css" /> */}
            
            <div class="tab active">
                <h2 class="tab-selector" data-id="0">CSS</h2>
                <div class="tab-content">
                        <pre><code id="tab-css" contenteditable="true" class="language-css">

                    </code></pre>
                </div>
            </div>
            <div class="tab inactive">
                <h2 class="tab-selector" data-id="1">MARKDOWN</h2>
                <div class="tab-content">
<pre><code id="tab-md" contenteditable="true" class="language-markdown">
# Main Title

Right now this tab is not active yet.

**Bold text** and *Italic text*.

- List item 1
- List item 2
</code></pre>

                </div>
            </div>
            <div class="tab inactive">
                <h2 class="tab-selector" data-id="2">PDF</h2>
                <div class="tab-content" id="tab-pdf">

                </div>
            </div>

        </div>
    </main>
    <script is:inline type="module" src='/js/main.js'></script>
    <script is:inline src='/js/prism.js'></script>
    <script is: inline src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markdown.min.js"></script>
</body>
</html>