---
import Tab from "src/components/tab.astro";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="/styles/interface/main.css"
        />
        <script>
            import { createEditor } from "../js/createEditor";
            import { iframe } from "../js/iframe.js";
            import { initApp } from "../js/init.js";
            // import { CONFIG } from "../js/config.js";
            import { projectData } from "../js/config.js";
            import { updatePreview } from "../js/updatePreview.js";
            import { INTERFACE } from "../js/state.js";
            import { initKeyboardNavigation } from "../js/initKeyboardNavigation.js";
            import { triggerPrint } from "../js/printHandler.js";
            import { loadProjectDirectory } from "../js/loadProjectDirectory";
            import { markdown } from "@codemirror/lang-markdown";
            import { css } from "@codemirror/lang-css";
            import { saveAllFiles } from '../js/saveAllFiles.js';
            import { createNewProject } from '../js/createNewProject.js';
            import { initLogger } from '../js/logging.js'
            // Tabs do not exist before creation, they should be returned on creation
            window.addEventListener("DOMContentLoaded", async () => {
            
            initLogger();

            console.log("Paper and Pixel loaded");
            // Behavior for print buttton
            const printBtn = document.getElementById("generate-pdf");
            if (printBtn) {
                printBtn.addEventListener("click", triggerPrint);
            }
            // Behavior for load buttton
            const laodBtn = document.getElementById("load-directory");
            if (laodBtn) {
                laodBtn.addEventListener("click", async () => {
                    document.body.style.cursor = "wait";
                    await loadProjectDirectory();
                    await initApp(projectData);
                    initKeyboardNavigation();
                    updatePreview();
                    document.body.style.cursor = "default";
                });
            }
            });
            // Behavior for save button
            const saveBtn = document.getElementById("save-directory");
            if (saveBtn) {
                saveBtn.addEventListener("click", async () => {
                    console.log("Saving project...");
                    await saveAllFiles();

                })
            }

            // New project

            const newBtn = document.getElementById("new-project");

            if (newBtn) {
                newBtn.addEventListener("click", async () => {

                    const success = await createNewProject();
                    
                    if (success) {
                        document.body.style.cursor = "wait";
                        await loadProjectDirectory();
                        await initApp(projectData);
                        initKeyboardNavigation();
                        updatePreview();
                        document.body.style.cursor = "default";
                    }
                });
}

        </script>

    </head>
    <body id="body">
        <header>
            <h1>PIXEL AND PAPER</h1>
            <div style="margin-botttom: 2rem;">
            <button 
            id="new-project">NEW</button>
            <button style="margin-left: 1rem;"
                    id="load-directory">LOAD</button>
            <button style="margin-left: 1rem;"
                    id="save-directory">SAVE</button>
            <button style="background-color: pink; margin-left: 1rem;" id="generate-pdf">GENERATE PDF</button>
            <span style="margin-left: 1rem; color: orange;" id="log">///</span>
            </div>

            <nav id="nav"></nav>
        </header>
        <main id="interface">
            <div id="tabs"></div>
        </main>
    </body>
</html>
