---

import Experiment from "../content/traveller.md";
---


<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Markdown + Paged.js with injected CSS</title>
  <style></style>
  <link rel="stylesheet" href="/styles/colors.css">
  <link rel="stylesheet" href="/styles/interface2.css">
  <link rel="stylesheet" href="/styles/global_tlb.css">
  <link rel="stylesheet" href="/styles/tlb.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  {/*
    <link rel="stylesheet" href="/styles/baseline.css">
  */}


  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js" is:inline></script>

  <script is:inline>
    // This script block runs AFTER the paged.polyfill.js script has loaded.
    // Therefore, window.PagedPolyfill should now be defined.

    // However, the best place for this call is STILL after the Markdown content
    // is actually in the DOM, as discussed in the previous section.
    // The previous error was specifically about PagedPolyfill not existing.
    // Let's integrate it with the markdown loading.
  </script>

</head>

<body>
  <Experiment />
</body>

</html>