---
const { tabName, tabId, tabClass } = Astro.props;
---
<div class="tab active">
    <h2 class="tab-selector" data-id="0">{tabName}</h2>
    <div class="tab-content">
        <pre><code id={tabId} contenteditable="true" class={tabClass}>
        </code></pre>
    </div>
</div>
