:root {
    /* UFO */

    --primary: #593F36;
    --primary-variant: #D0EFF2;

    --secondary: #D9665B; /* Viva magenta */
    --secondary-variant: #F6A6BD;

    --background: #B8D5D9;

    --text: var(--primary);
    --title: var(--primary);
    --subtitles: var(--primary);
    --boders: var(--secondary);
    --margins-text: var(--primary);
    --margins-background: var(--primary-variant);

         

    /* Warm */
    --primary: #4D0F24;
    --primary-variant: var(--primary);

    --secondary: #BE3455; /* Viva magenta */
    --secondary-variant: #F6A6BD;

    --background: #f8f1de;

    --text: var(--primary);
    --title: var(--primary);
    --subtitles: var(--primary);
    --boders: var(--secondary);
    --margins-text: var(--background);
    --margins-background: var(--secondary);

   /* Pseudo black and white */

   --primary: #1a1b1e;
   --primary-variant: #d6d6d0;

   --secondary: var(--primary); /* Viva magenta */
   --secondary-variant: #F6A6BD;

   --background: snow;

    /* Colder */
   --primary: #243E4A;          /* deep cold cyan-blue */
   --primary-variant: #E6F7FA;  /* very pale ice cyan */
 
   --secondary: #4FB3C8;        /* clear soft cyan */
   --secondary-variant: #CFF1F6;/* misty cyan */
 
   --background: #EAF7FA;       /* pale cyan fog */


   /* Rules */
   --text: var(--primary);
   --title: var(--primary);
   --subtitles: var(--primary);
   --boders: var(--secondary);
   --margins-text: var(--primary);
   --margins-background: var(--secondary);
   
   /* Hot variant */
   --primary: #400618;
   --primary-variant: var(--primary);

   --secondary: #BE3455; /* Viva magenta */
   --secondary-variant: #F6A6BD;

   --background: #f8f1de;
   --background: snow;


      /* Pseudo black and white */

      --primary: #1a1b1e;
      --primary-variant: #d6d6d0;
   
      --secondary: var(--primary); /* Viva magenta */
      --secondary-variant: #F6A6BD;
   
      --background: snow;

   --text: var(--primary);
   --title: var(--primary);
   --subtitles: var(--primary);
   --boders: var(--secondary);
   --margins-text: white;
   --margins-background: var(--secondary);

    
    

}

h1 {
    color: var(--secondary)
}

h2, h3 {
	color: var(--primary);
}