:root {
    --interface-background: #1d2021;
    --interface-foreground: #83a598;

}

* {
    font-family: monospace;
    font-size: 0.9rem;

}

body {
    background-color: var(--interface-background);
}

h1, a, nav span {
    color: var(--interface-foreground);
}

nav {
    margin-bottom: 1rem;
}

pre, code {
    margin: 0 !important;
    padding: 0;
    padding: 6px;
    display: block;
    background-color: var(--interface-background) !important;
}

code:focus {
    outline: none;
}

#interface {
    padding: 1rem;
    min-height: 50%;
    max-height: 50%;

}

#tabs {
    position: relative;;
}

.tab {
    position: absolute;
    min-width: 100%;
    height: 100%;
}

.tab h2 {
    position: absolute;
}

.tab {
    z-index: 1;
    height: 90vh;
}

.active {
    z-index: 10;
    visibility: visible;
}


.inactive {
    z-index: 1;
    visibility: hidden;
}

.tab-selector.active-tab {
    background-color: var(--interface-foreground) !important;
    color: var(--interface-background);
}

.tab:nth-of-type(2) h2 {
    left: 100px;
}

.tab:nth-of-type(3) h2 {
    left: 250px;
}

.tab-content {
    position: absolute;
    top: 50px;
    background-color: var(--interface-background);
    border: 1px solid var(--interface-foreground);
    height: 85vh;
    overflow: scroll;
    width: 100%;
}

.tab-selector {
    text-underline-offset: 4px;
    cursor: pointer;
    padding-bottom: 4px;
    padding-top: 4px;

}

.tab-selector:hover {
    background-color: var(--interface-foreground);
    color: var(--interface-background);
}